@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--light2-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --highlight-dark-color: #222437;
  --highlight-light-color: #5D5DE9;
  --light1-color: #EFF0FE;
  --light2-color: #E5EBFF;

}

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  /* min-width: 320px; */
  min-height: 100vh;
}

html, body {
  width: 100%;
  box-sizing: border-box;
}



#root {
	padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  color: black;
}

h2 {
  font-size: 1em;
  font-weight: 500;
  color: black;
}

progress[value] {
  -webkit-appearance: none;
   appearance: none;
   height: 5px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #5D5DE9;
  border-radius: 2px;
  background-size: 100% 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
  height: 8px; /* Adjust height as needed */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(93, 93, 233, 0.5); /* Adjust color as needed */
  border-radius: 4px;
}
